body{
    height: 95vh;
    width: 95;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color:azure;
}